*:focus {
    outline: none;
}
body {
    font: 14px/21px"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
#wrapper {
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #6f212f;
}
h1 {
    color: #222;
    margin: 10px 0 20px 0;
    padding: 0;
    font-size: 24px;
    text-align:center;
}
input#item {
    float:left;
    margin-bottom:20px;
}
input[type=checkbox] {
    vertical-align:middle;
    margin: 0 5px;
}
ul {
    list-style-type:none;
    list-style-position:outside;
    margin:10px 0px;
    padding:0px;
    clear:both;
}

li {
    background: #fff;
    margin:5px 0px;
    line-height:1.6;
    padding:10px;
    border:#222 solid 1px;
}
li:nth-child(odd) {
    background: #ccc;
}
li a {
    font-size:small;
}
form a {
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    cursor: pointer;
    float:right;
    font: 11px sans-serif;
    margin: 0;
    margin-top:2px;
    outline: medium none;
    overflow: visible;
    height:17px;
    padding:0.3em 0.3em 0 0.3em;
    text-decoration: none;
    white-space: nowrap;
    background-color: #2E8B57;
    background-image: -moz-linear-gradient(center top, #4BC380, #2E8B57);
    border: 1px solid #1D5837;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #1D5837;
}
form a:hover {
    background-color: #71D09B;
    background-image: -moz-linear-gradient(center top, #71D09B, #2E8B57);
    border: 1px solid #1D5837;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #1D5837;
}
form a:active {
    border-color: #1D5837;
    color: #FFFFFF;
    text-shadow: none;
}
form a.delete {
    background-color: #CD0000;
    background-image: -moz-linear-gradient(center top, #FF2323, #CD0000);
    border: 1px solid #890000;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #890000;
    margin-top:0px;
    height:17px;
}
form a.delete:hover {
    background-color: #FF5656;
    background-image: -moz-linear-gradient(center top, #FF5656, #CD0000);
    border: 1px solid #890000;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #890000;
}
form a.delete:active {
    border-color: #890000;
    color: #FFFFFF;
    text-shadow: none;
}
